/* Fonts */
@font-face {
  font-family: 'MarkPro';
  src: url(./assets/MarkPro.otf);
}

@font-face {
  font-family: 'MarkPro';
  src: url(./assets/MarkPro-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: 'MarkPro';
  src: url(./assets/MarkPro-Light.otf);
  font-weight: lighter;
}

@font-face {
  font-family: 'MarkPro';
  src: url(./assets/MarkPro-Medium.otf);
  font-weight: medium;
}

/* variables */
:root {
  --inactive-gray: #a4a4a4;
  --header-height: calc(32px + 75px)
}

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  font-family: 'MarkPro';
  letter-spacing: -0.96px;
  font-weight: bold;
}

/* Nav Bars */
#nav-bar {
  height: var(--header-height);
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 100%;
  z-index: 1;
}

.flexed-ai-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bar-piece {
  padding-left: 80px;
  padding-right: 80px;
}

#nav-bar-upper {
  justify-content: flex-end;
  background-color: black;
  color: white;
  height: 32px;
}

.about-item {
  margin-left: 16px;
}

#nav-bar-main {
  flex-grow: 1;
  box-shadow: 0 0 0.625rem 0 rgba(0,0,0,.1);
  background-color: white;
}

.logo {
  width: 140px
}

.product-types {
  width: 843px;
  margin-left: 70px;
  flex-grow: 1
}

.product-type {
  padding: 15px;
}

.nav-option {
  padding: 10px;
  white-space: nowrap;
}

/* Product */

#product {
  margin-top: var(--header-height);
  display: flex;
  justify-content: space-between;
}

.picture-container {
  width: 50%;
  /* display: flex;
  flex-direction: column; */
  position: fixed;
}

.picture-box {
  position: relative;
}

#engraving-on-pic {
  position: absolute;
  top: 55%;
  left: 13.2%;
  color: #7f7f7f;
  letter-spacing: -1px;
  /* font-size: 14px; */
  font-size: 1vw;
  transform: rotate(-24deg);
  /* width: 350px; */
  width: 48.6%;
  text-align: right;
  border: none;
  background-color: transparent;
  font-family: MarkPro;
  font-weight: lighter;
  outline: none;
}

#product-pic {
  width: 100%;
}

.product-details-box {
  width: 50%;
  position: absolute;
  right: 0;
}

#product-details {
  max-width: 540px;
  width: 500px;
  margin: 0 auto;
  padding: 15px 0;

}

.directory-link {
  text-decoration: none;
}

.dir {
  font-weight: lighter;
}


.directory-link:not(.selected) {
  color: var(--inactive-gray);

}
.directory-link.selected {
  color: black
}

.directory-link:not(:last-child) {
  margin-right: 4px;
}

.product-name {
  margin-top: 24px;
  font-size: 1.625em;
  font-weight: 700;
}

.rating-reviews {
  margin-top: 30px;
  display: flex;
}

.stars {
  margin-right: 4px;
}

.num-reviews {
  font-weight: lighter;
}

.fa-star {
  margin-right: 2px;
  color: #fbd133;
}

.promise {
  display: block;
  margin-top: 48px;
  color: black;
  text-underline-offset: 6px;
}

.design-options {
  margin-top: 40px;
}

.design-option {
  padding: 18px 0;
  justify-content: space-between;
}

.design-option:first-child {
  border-top: 1px solid #c0c0c0;
}
.design-option:not(:last-of-type) {
  border-bottom: 1px solid #c0c0c0;
}

.design-option.engraving {
  padding: 0;
}

.design-detail {
  font-weight: 700;
  font-size: 16px;
}

.colors {
  padding: 0 8px;
}
.color {
  box-sizing: border-box;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  position: relative;
  margin-left: 20px;
}

.selected-color {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: inherit;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid white;
}

.red {
  background-color: #ed462f;
}

.black {
  background-color: black;
}

.gray {
  background-color: #dedede;
}

.size-input {
  box-sizing: border-box;
  width: 52px;
  height: 36px;
  border: 1px solid black;
  justify-content: center;
  font-weight: normal;
}

.personalize-box {
  justify-content: space-between;
}

.fill-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 65px 0;
}

#personalize-checkbox {
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  border: 1px solid gray;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#personalize-checkbox.checked > #checkbox-fill {
  visibility: visible;
}

#checkbox-fill {
  visibility: hidden;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}

.hidden {
  visibility: hidden;
}

.price {
  padding: 55px 0;
}

#engraving-details {
  background-color: #f4f4f4;
  padding: 15px 30px;
  margin-bottom: 18px;
}

.undisplayed {
  display: none;
}

.engraving-options {
  justify-content: space-between;
  margin: 15px 0 30px 0;
}

.engraving-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.engraving-img.selected {
  box-sizing: border-box;
  border: 2px solid red;
}

.eng-option-txt {
  margin-top: 2px;
  font-size: 14px;
}

.engraving-instruction {
  margin-bottom: 16px;
}

.engraving-text-box {
  position: relative;
}

.engraving-input {
  width: 100%;
  height: 44px;
  font-size: 18px;
  padding: 0 10px;
  position: relative;
  box-sizing: border-box;
}

.engraving-input::placeholder {
  font-family: 'MarkPro';
}

#input-count {
  font-size: .75em;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 10px;
}

.engraving-note {
  margin-top: 4px;
  font-weight: lighter;
  font-size: 14px;
}